.drawing-text-container {
  svg {
    width: 100%;
    height: 100%;

    text {
      fill: none; // Sin relleno, solo borde
      stroke-width: 1px; // Grosor del contorno
      stroke-dasharray: 1000; // Largo total del contorno
      stroke-dashoffset: 1000; // Comienza con todo el contorno oculto
      animation: drawText 12s ease forwards; // Duración de la animación
      font-size: 6rem;
      font-family: "Arial", sans-serif;
    }
  }
}

@keyframes drawText {
  to {
    stroke-dashoffset: 0; // Dibuja el contorno reduciendo el offset
  }
}

@media (max-width: 768px) {
  .description {
    display: none;
  }

  button {
    width: 100%;
    margin-bottom: 1rem;
  }

  text {
    fill: none; // Sin relleno, solo borde
    stroke-width: 1px; // Grosor del contorno
    stroke-dasharray: 1000; // Largo total del contorno
    stroke-dashoffset: 1000; // Comienza con todo el contorno oculto
    animation: drawText 12s ease forwards; // Duración de la animación
    font-size: 20rem;
    font-family: "Arial", sans-serif;
  }

  .drawing-text-container {
    svg {
      width: 100%;

      text {
        font-size: 6.8rem;
      }
    }
  }
}
