.menu-btn {
  margin-left: 0.25rem;
  color: #212529;
  box-shadow: none;
}

.cont-head {
  width: 75%;
}

.back {
  display: flex;
}

@media (max-width: 768px) {
  .cont-head {
    width: 100%;
  }
  .back {
    display: none;
  }
}
