<mat-drawer
  #drawer
  mode="side"
  class="w-100"
  style="border-radius: 0; border: none"
>
  <app-sidebar
    (notifyApp)="handleNotification(); drawer.toggle()"
  ></app-sidebar>
</mat-drawer>
<mat-drawer-container
  class="h-100 bg-transparent"
  autosize
  [ngClass]="
    isFading !== null ? { 'fade-enter': !isFading, 'fade-leave': isFading } : ''
  "
>
  <div id="vanta-bg"></div>
  <div
    [ngClass]="currentThemeClass"
    class="container no-padding w-100 h-100 d-flex flex-column"
  >
    <div
      [ngClass]="currentThemeClass"
      class="cardd col-12 col-xl-11 col-md-12 col-sm-12 d-flex flex-column"
      [class.flip]="isFlipped"
      #cardElement
    >
      <app-header
        class="col-12 header d-flex align-items-center"
        (notifyApp)="handleNotification()"
        (toggleSidenav)="drawer.toggle()"
        (fadeStatusChange)="onFadeStatusChange($event)"
        (deselectAll)="onDeselectAll()"
      ></app-header>
      <app-drawing-text class="w-100" style="width: 100%"></app-drawing-text>
      <div class="cont">
        <div class="d-flex mid-card flex-wrap">
          <app-focus-light></app-focus-light>
          @if (!this.projectServ.showProjectDetails &&
          !this.projectServ.selectedSide.getValue()) {
          <app-home-view
            class="col-12 col-xl-12 col-md-12"
            (notifyApp)="handleNotification()"
          ></app-home-view>
          } @else if (this.projectServ.showProjectDetails) {
          <app-project-view
            class="col-12 col-xl-12 col-md-12"
            (notifyApp)="handleNotification()"
          ></app-project-view>
          }
        </div>
        <app-menu
          [class.animate]="animateContainer"
          [class.final]="hasAnimatedClass"
          (animationend)="markAnimated()"
          (notifyApp)="handleNotification()"
          class="col-4 col-xl-4 col-md-4 col-sm-12 d-xl-block d-lg-block d-md-block d-sm-none d-none menu"
          (deselectAll)="onDeselectAll()"
        ></app-menu>
      </div>

      <app-footer class="footer"></app-footer>
    </div>
  </div>
</mat-drawer-container>
