/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;
@include mat.core();
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

a {
  text-decoration: none;
}

#vanta-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.theme-dark,
.theme-light {
  transition: background-color 0.6s ease, color 0.6s ease;
}

.theme-dark {
  background-color: black;
  color: #ffffff;

  mat-drawer {
    background-color: rgba(0, 0, 0, 0.987);
    border: 2px solid #c4c4c4;
    color: #ffffff;
  }

  // 👇 acá va el mixin, scoped a .theme-dark
  @include mat.tabs-overrides((active-label-text-color: whitesmoke,
      active-focus-label-text-color: whitesmoke,
      // 👈 fuerza mismo color que active
      inactive-label-text-color: rgb(100, 99, 99),
      active-hover-label-text-color: red,
      active-indicator-color: #1976d2,
      divider-color: transparent,
    ));

  .mat-button-toggle-checked {
    background-color: whitesmoke !important;
    color: black;
  }

  .download-btn {
    border: 2px solid #ffffff;
  }

  .project-name {
    color: white;
  }

  .menu-btn {
    background-color: rgba(255, 255, 255, 0.95);
  }

  .mat-button-toggle-checked span,
  .mat-button-toggle-checked i {
    color: #000000;
  }

  .hover:hover {
    color: black;
  }

  text {
    stroke: whitesmoke;
  }

  svg {
    color: whitesmoke;
  }

  button {
    color: white;
  }

  .focus {
    background: radial-gradient(circle,
        rgba(255, 255, 255, 0.075) 0%,
        rgba(255, 255, 255, 0.025) 50%,
        rgba(255, 255, 255, 0) 100%);
  }

  .cardd {
    background-color: rgba(0, 0, 0, 0.9);
  }
}

.theme-light {
  background-color: whitesmoke;
  /* Color de fondo para el tema claro */
  color: #000000;
  /* Color de texto para el tema claro */

  mat-drawer {
    background-color: rgba(255, 255, 255, 0.98);
    border: 2px solid #c4c4c4;
    color: #000000;
    /* Color de texto para el tema claro */
  }

  .download-btn {
    border: 1px solid black;
  }

  .hover:hover {
    color: grey;
  }

  .project-name {
    color: #1f2327;
  }

  .menu-btn {
    background-color: transparent;
    border: 0.5px solid rgb(109, 107, 107);
  }

  text {
    stroke: black;
    /* Color de contorno para el texto en tema claro */
  }

  svg {
    color: black;
  }

  button {
    color: black;
  }

  .focus {
    background: radial-gradient(circle,
        rgba(0, 0, 0, 0.075) 0%,
        rgba(0, 0, 0, 0.025) 50%,
        rgba(0, 0, 0, 0) 100%);
  }

  .cardd {
    background-color: rgba(255, 255, 255, 0.75);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color);
  /* Usar variable para el fondo */
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

html,
body {
  height: 100%;
}

*::-webkit-scrollbar {
  width: 0.25rem;
  background-color: transparent;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 1rem 1rem 1rem 1rem;
}

*::-webkit-scrollbar-thumb {
  background-color: grey;
}

@keyframes themeSwitchLight {
  0% {
    filter: brightness(0.8);
  }

  50% {
    filter: brightness(1.1);
  }

  100% {
    filter: brightness(1);
  }
}

@keyframes themeSwitchDark {
  0% {
    filter: brightness(1.2);
  }

  50% {
    filter: brightness(0.9);
  }

  100% {
    filter: brightness(1);
  }
}

@media (max-width: 768px) {
  .theme-dark {
    .cardd {}

    .back {
      border: 1px solid white;
    }
  }

  .theme-light {
    .back {
      border: 1px solid black;
    }
  }
}