<div
  class="container d-flex flex-column w-100 h-100 justify-content-xl-start justify-content-lg-start justify-content-md-start align-items-lg-start align-items-xl-start align-items-md-start"
>
  <h2>{{ "MENUTITLE" | translate }}</h2>
  <div class="d-flex flex-column align-items-xl-start align-items-sm-center align-items-center align-items-xl-start">
    @for (project of projects; track project; let i = $index) {
    <div class="">
      <div class="d-flex">
        <button
          [ngClass]="currentThemeClass"
          class="bg-transparent border-0"
          [name]="project.name"
          (click)="selectProject(project, i); handleMenuButtonClick()"
        >
          <i class="hover proj-titles">{{ project.name }}</i>
        </button>
        @if (project.clientSide && project.serverSide) {
        <div class="d-flex align-items-center">
          @if (!showDetails) {
          <mat-icon class="hover" (click)="toggleDetails(i)">
            {{
              visibleDetailIndex === i
                ? "keyboard_arrow_up"
                : "keyboard_arrow_down"
            }}
          </mat-icon>
          }
        </div>
        }
      </div>
      @if (project.clientSide && project.serverSide) {
      <div
        class="d-flex flex-column w-100 details"
        style="font-size: 14px"
        [ngClass]="{ visible: this.visibleDetailIndex === i }"
      >
        <button
          (click)="
            selectProject(project, i);
            handleMenuButtonClick();
            selectSide(project.clientSide)
          "
          class="bg-transparent border-0 text-start w-50 hover"
        >
          <i>Frontend</i>
        </button>
        <button
          (click)="
            selectProject(project, i);
            handleMenuButtonClick();
            selectSide(project.serverSide)
          "
          class="bg-transparent border-0 text-start w-50 hover"
        >
          <i>Backend</i>
        </button>
      </div>
      }
    </div>
    }
  </div>
</div>
