mat-icon {
  cursor: pointer;
  font-size: 30px;
}

.details {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

.details.visible {
  max-height: 200px; /* Ajusta según el contenido */
  opacity: 1;
}

.proj-titles {
  font-size: 22px;
}